-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: SIMPA_TA
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `analisa_desains`
--

DROP TABLE IF EXISTS `analisa_desains`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `analisa_desains` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `ui_platform` varchar(255) DEFAULT NULL,
  `interop_type` varchar(255) DEFAULT NULL,
  `storage_type` varchar(255) DEFAULT NULL,
  `nama_aktor` varchar(255) DEFAULT NULL,
  `method` varchar(255) DEFAULT NULL,
  `url` varchar(255) DEFAULT NULL,
  `tipe_resource` enum('tertutup','terbuka') DEFAULT NULL,
  `aktor_transaksi` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `analisa_desains_aplikasi_id_index` (`aplikasi_id`),
  KEY `analisa_desains_ui_platform_index` (`ui_platform`),
  KEY `analisa_desains_storage_type_index` (`storage_type`),
  KEY `analisa_desains_created_by_foreign` (`created_by`),
  KEY `analisa_desains_updated_by_foreign` (`updated_by`),
  CONSTRAINT `analisa_desains_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE,
  CONSTRAINT `analisa_desains_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `analisa_desains_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=486 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `analisa_desains`
--

LOCK TABLES `analisa_desains` WRITE;
/*!40000 ALTER TABLE `analisa_desains` DISABLE KEYS */;
/*!40000 ALTER TABLE `analisa_desains` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `api_gateway_configs`
--

DROP TABLE IF EXISTS `api_gateway_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `api_gateway_configs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `environment` enum('spl-dev','spl') NOT NULL,
  `service_name` varchar(255) NOT NULL,
  `host` varchar(255) DEFAULT NULL,
  `path` varchar(255) NOT NULL,
  `route_name` varchar(255) NOT NULL,
  `route_path` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `api_gateway_configs_aplikasi_id_index` (`aplikasi_id`),
  CONSTRAINT `api_gateway_configs_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_gateway_configs`
--

LOCK TABLES `api_gateway_configs` WRITE;
/*!40000 ALTER TABLE `api_gateway_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `api_gateway_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aplikasi_checklists`
--

DROP TABLE IF EXISTS `aplikasi_checklists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aplikasi_checklists` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `category` varchar(64) NOT NULL DEFAULT 'studi_kelayakan',
  `title` varchar(255) NOT NULL,
  `item_status` varchar(32) NOT NULL DEFAULT 'pending',
  `notes` text DEFAULT NULL,
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `aplikasi_checklists_created_by_foreign` (`created_by`),
  KEY `aplikasi_checklists_updated_by_foreign` (`updated_by`),
  KEY `aplikasi_checklists_aplikasi_id_category_index` (`aplikasi_id`,`category`),
  KEY `aplikasi_checklists_item_status_index` (`item_status`),
  CONSTRAINT `aplikasi_checklists_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE,
  CONSTRAINT `aplikasi_checklists_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `aplikasi_checklists_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aplikasi_checklists`
--

LOCK TABLES `aplikasi_checklists` WRITE;
/*!40000 ALTER TABLE `aplikasi_checklists` DISABLE KEYS */;
/*!40000 ALTER TABLE `aplikasi_checklists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aplikasi_documents`
--

DROP TABLE IF EXISTS `aplikasi_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aplikasi_documents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `document_type` varchar(64) NOT NULL,
  `storage_path` varchar(255) NOT NULL,
  `original_filename` varchar(255) DEFAULT NULL,
  `mime_type` varchar(128) DEFAULT NULL,
  `file_size` bigint(20) unsigned DEFAULT NULL,
  `version` smallint(5) unsigned NOT NULL DEFAULT 1,
  `status` varchar(32) NOT NULL DEFAULT 'active',
  `uploaded_by` bigint(20) unsigned DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `aplikasi_documents_uploaded_by_foreign` (`uploaded_by`),
  KEY `aplikasi_documents_aplikasi_id_document_type_index` (`aplikasi_id`,`document_type`),
  KEY `aplikasi_documents_status_index` (`status`),
  CONSTRAINT `aplikasi_documents_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE,
  CONSTRAINT `aplikasi_documents_uploaded_by_foreign` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aplikasi_documents`
--

LOCK TABLES `aplikasi_documents` WRITE;
/*!40000 ALTER TABLE `aplikasi_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `aplikasi_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aplikasi_notes`
--

DROP TABLE IF EXISTS `aplikasi_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aplikasi_notes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `note_type` varchar(64) NOT NULL DEFAULT 'perbaikan',
  `body` text NOT NULL,
  `is_checked` tinyint(1) NOT NULL DEFAULT 0,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `checked_by` bigint(20) unsigned DEFAULT NULL,
  `checked_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `aplikasi_notes_created_by_foreign` (`created_by`),
  KEY `aplikasi_notes_checked_by_foreign` (`checked_by`),
  KEY `aplikasi_notes_aplikasi_id_note_type_index` (`aplikasi_id`,`note_type`),
  KEY `aplikasi_notes_is_checked_index` (`is_checked`),
  CONSTRAINT `aplikasi_notes_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE,
  CONSTRAINT `aplikasi_notes_checked_by_foreign` FOREIGN KEY (`checked_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `aplikasi_notes_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aplikasi_notes`
--

LOCK TABLES `aplikasi_notes` WRITE;
/*!40000 ALTER TABLE `aplikasi_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `aplikasi_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aplikasi_status_histories`
--

DROP TABLE IF EXISTS `aplikasi_status_histories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aplikasi_status_histories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `status_sebelumnya` varchar(255) DEFAULT NULL,
  `status_baru` varchar(255) NOT NULL,
  `aksi` varchar(255) NOT NULL,
  `catatan` text DEFAULT NULL,
  `changed_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `aplikasi_status_histories_aplikasi_id_foreign` (`aplikasi_id`),
  KEY `aplikasi_status_histories_changed_by_foreign` (`changed_by`),
  CONSTRAINT `aplikasi_status_histories_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE,
  CONSTRAINT `aplikasi_status_histories_changed_by_foreign` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aplikasi_status_histories`
--

LOCK TABLES `aplikasi_status_histories` WRITE;
/*!40000 ALTER TABLE `aplikasi_status_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `aplikasi_status_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aplikasis`
--

DROP TABLE IF EXISTS `aplikasis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aplikasis` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_layanan` varchar(255) NOT NULL,
  `nama_singkat` varchar(255) NOT NULL,
  `nama_aplikasi` varchar(255) NOT NULL,
  `jenis_layanan_aplikasi` enum('publik','internal') NOT NULL,
  `kode_unitOrganisasi` varchar(255) NOT NULL,
  `tipe_akuisisi` varchar(255) NOT NULL,
  `status` varchar(255) NOT NULL,
  `doc_pengajuan_path` varchar(255) DEFAULT NULL,
  `doc_permohonan_path` varchar(255) DEFAULT NULL,
  `doc_studi_kelayakan_path` varchar(255) DEFAULT NULL,
  `security_test_passed` tinyint(1) DEFAULT NULL,
  `security_tested_by` bigint(20) unsigned DEFAULT NULL,
  `security_tested_at` timestamp NULL DEFAULT NULL,
  `security_test_notes` text DEFAULT NULL,
  `deployed_staging_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `deployed_staging_by` bigint(20) unsigned DEFAULT NULL,
  `deployed_production_at` timestamp NULL DEFAULT NULL,
  `deployed_production_by` bigint(20) unsigned DEFAULT NULL,
  `deployment_notes` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `aplikasis_nama_aplikasi_index` (`nama_aplikasi`),
  KEY `aplikasis_jenis_layanan_aplikasi_index` (`jenis_layanan_aplikasi`),
  KEY `aplikasis_status_index` (`status`),
  KEY `aplikasis_created_at_index` (`created_at`),
  KEY `aplikasis_updated_by_foreign` (`updated_by`),
  KEY `aplikasis_created_by_index` (`created_by`),
  KEY `aplikasis_security_tested_by_foreign` (`security_tested_by`),
  KEY `aplikasis_security_passed_status_idx` (`security_test_passed`,`status`),
  KEY `aplikasis_deployed_staging_by_foreign` (`deployed_staging_by`),
  KEY `aplikasis_deployed_production_by_foreign` (`deployed_production_by`),
  CONSTRAINT `aplikasis_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `aplikasis_deployed_production_by_foreign` FOREIGN KEY (`deployed_production_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `aplikasis_deployed_staging_by_foreign` FOREIGN KEY (`deployed_staging_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `aplikasis_security_tested_by_foreign` FOREIGN KEY (`security_tested_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `aplikasis_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aplikasis`
--

LOCK TABLES `aplikasis` WRITE;
/*!40000 ALTER TABLE `aplikasis` DISABLE KEYS */;
/*!40000 ALTER TABLE `aplikasis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_notifications`
--

DROP TABLE IF EXISTS `app_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `app_notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `aplikasi_id` bigint(20) unsigned DEFAULT NULL,
  `type` varchar(255) NOT NULL DEFAULT 'status_change',
  `title` varchar(255) NOT NULL,
  `body` text NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `app_notifications_aplikasi_id_foreign` (`aplikasi_id`),
  KEY `app_notifications_user_id_is_read_index` (`user_id`,`is_read`),
  KEY `app_notifications_user_id_created_at_index` (`user_id`,`created_at`),
  CONSTRAINT `app_notifications_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE SET NULL,
  CONSTRAINT `app_notifications_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_notifications`
--

LOCK TABLES `app_notifications` WRITE;
/*!40000 ALTER TABLE `app_notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `backend_configs`
--

DROP TABLE IF EXISTS `backend_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `backend_configs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `deployment` enum('local','staging','production') NOT NULL,
  `db_connection` varchar(255) NOT NULL DEFAULT 'mysql',
  `db_host` varchar(255) NOT NULL,
  `db_port` varchar(255) NOT NULL DEFAULT '3306',
  `db_database` varchar(255) NOT NULL,
  `db_username` varchar(255) NOT NULL,
  `method` varchar(255) DEFAULT NULL,
  `url_endpoint` varchar(255) DEFAULT NULL,
  `check` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `backend_configs_aplikasi_id_index` (`aplikasi_id`),
  CONSTRAINT `backend_configs_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `backend_configs`
--

LOCK TABLES `backend_configs` WRITE;
/*!40000 ALTER TABLE `backend_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `backend_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `database_configs`
--

DROP TABLE IF EXISTS `database_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `database_configs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `deployment` enum('staging','production','local') NOT NULL,
  `db_connection` varchar(255) NOT NULL DEFAULT 'mysql',
  `db_host` varchar(255) NOT NULL,
  `db_port` varchar(255) NOT NULL DEFAULT '3306',
  `db_database` varchar(255) NOT NULL,
  `db_username` varchar(255) NOT NULL,
  `db_password` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `database_configs_aplikasi_id_index` (`aplikasi_id`),
  CONSTRAINT `database_configs_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `database_configs`
--

LOCK TABLES `database_configs` WRITE;
/*!40000 ALTER TABLE `database_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `database_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devops_configs`
--

DROP TABLE IF EXISTS `devops_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `devops_configs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `project` varchar(255) DEFAULT NULL,
  `dbt_dev` varchar(255) DEFAULT NULL,
  `dbt` varchar(255) DEFAULT NULL,
  `spl_dev` varchar(255) DEFAULT NULL,
  `spl` varchar(255) DEFAULT NULL,
  `auth` varchar(255) DEFAULT NULL,
  `db_connection` varchar(255) DEFAULT NULL,
  `db_host` varchar(255) DEFAULT NULL,
  `db_port` varchar(255) DEFAULT NULL,
  `db_database` varchar(255) DEFAULT NULL,
  `db_username` varchar(255) DEFAULT NULL,
  `env_staging` varchar(255) DEFAULT NULL,
  `env_production` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `devops_configs_aplikasi_id_index` (`aplikasi_id`),
  CONSTRAINT `devops_configs_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devops_configs`
--

LOCK TABLES `devops_configs` WRITE;
/*!40000 ALTER TABLE `devops_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `devops_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `environment_configs`
--

DROP TABLE IF EXISTS `environment_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `environment_configs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `env_name` varchar(255) NOT NULL,
  `env_value` text NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `environment_configs_aplikasi_id_index` (`aplikasi_id`),
  CONSTRAINT `environment_configs_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `environment_configs`
--

LOCK TABLES `environment_configs` WRITE;
/*!40000 ALTER TABLE `environment_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `environment_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frontend_configs`
--

DROP TABLE IF EXISTS `frontend_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `frontend_configs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `nama_modul` varchar(255) NOT NULL,
  `local_url` varchar(255) NOT NULL,
  `feat_staging_production_url` varchar(255) NOT NULL,
  `check` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `frontend_configs_aplikasi_id_index` (`aplikasi_id`),
  CONSTRAINT `frontend_configs_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frontend_configs`
--

LOCK TABLES `frontend_configs` WRITE;
/*!40000 ALTER TABLE `frontend_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `frontend_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `object_storage_configs`
--

DROP TABLE IF EXISTS `object_storage_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `object_storage_configs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `environment` enum('minio-dev','minio') NOT NULL,
  `minio_bucket` varchar(255) NOT NULL,
  `minio_default_region` varchar(255) NOT NULL DEFAULT 'us-east-1',
  `minio_endpoint` varchar(255) NOT NULL,
  `minio_url` varchar(255) NOT NULL,
  `minio_use_path_style_endpoint` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `object_storage_configs_aplikasi_id_index` (`aplikasi_id`),
  CONSTRAINT `object_storage_configs_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `object_storage_configs`
--

LOCK TABLES `object_storage_configs` WRITE;
/*!40000 ALTER TABLE `object_storage_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `object_storage_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` text NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`),
  KEY `personal_access_tokens_expires_at_index` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=380 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proyeks`
--

DROP TABLE IF EXISTS `proyeks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proyeks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `modul` varchar(255) NOT NULL,
  `jenis` enum('backend','frontend') NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `proyeks_aplikasi_id_index` (`aplikasi_id`),
  CONSTRAINT `proyeks_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proyeks`
--

LOCK TABLES `proyeks` WRITE;
/*!40000 ALTER TABLE `proyeks` DISABLE KEYS */;
/*!40000 ALTER TABLE `proyeks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rfcs`
--

DROP TABLE IF EXISTS `rfcs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rfcs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `aplikasi_id` bigint(20) unsigned NOT NULL,
  `tipe_rfc` enum('Medium','Standar','Minor','Major','Darurat') NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `formulir_path` varchar(255) DEFAULT NULL,
  `formulir_original_filename` varchar(255) DEFAULT NULL,
  `formulir_mime_type` varchar(128) DEFAULT NULL,
  `formulir_file_size` bigint(20) unsigned DEFAULT NULL,
  `pelaksana` varchar(255) DEFAULT NULL,
  `status_tindaklanjut` varchar(255) NOT NULL DEFAULT 'Staging',
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `rfcs_aplikasi_id_tipe_rfc_index` (`aplikasi_id`,`tipe_rfc`),
  CONSTRAINT `rfcs_aplikasi_id_foreign` FOREIGN KEY (`aplikasi_id`) REFERENCES `aplikasis` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rfcs`
--

LOCK TABLES `rfcs` WRITE;
/*!40000 ALTER TABLE `rfcs` DISABLE KEYS */;
INSERT INTO `rfcs` VALUES (1,25,'Standar','Mengubah Judul Tabel',NULL,NULL,NULL,NULL,'Internal Pusdatik','UAT',1,1,'2025-10-31 02:05:07','2026-05-30 03:24:15',NULL),(3,23,'Major',NULL,NULL,NULL,NULL,NULL,'Internal Pusdatik','Production',1,1,'2025-12-01 01:10:33','2026-06-19 06:26:41',NULL),(4,23,'Major','Perubahan endpoint API autentikasi',NULL,NULL,NULL,NULL,'Internal Pusdatik','Analisa Desain',1,1,'2025-12-03 19:05:43','2026-06-19 06:26:36',NULL),(5,23,'Medium',NULL,NULL,NULL,NULL,NULL,'Internal Pusdatik','UAT',1,1,'2025-12-03 19:07:24','2026-07-01 00:59:45','2026-07-01 00:59:45');
/*!40000 ALTER TABLE `rfcs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `role` varchar(30) NOT NULL DEFAULT 'frontend_developer',
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_email_index` (`email`),
  KEY `users_role_index` (`role`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-02 13:26:03
